@font-face {
    font-family: nunito-sans;
    src: url(https://fonts.google.com/specimen/Nunito+Sans);
  }
  //font-weight
  $fw-medium:800;
  $fw-damibold:600;
  $fw-regular:300;

  //font-size
  $fs-home: 14px;
  $fs-detail: 16px;